:root {
  --primary-color: #4f46e5;
  --primary-hover: #6366f1;
  --secondary-color: #0f172a;
  --light-color: #f8fafc;
  --gray-color: #64748b;
  --dark-color: #1e293b;
  --danger-color: #ef4444;
  --success-color: #22c55e;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-color);
  color: var(--dark-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}